body {
    background-color: coral;
}
h1 {
    font-size: 2em;
    text-align: center;
    text-shadow: .5px .5px 1px white;
}
form {
    display: flex;
    align-content: center;
    max-width: 100em;
}
.buttons {
    background-color: hsl(160, 36%, 70%);
    border-radius: 20%;
    border-bottom: 20px;
    text-decoration: none;
}
a:hover {
    background-color: hsl(160, 36%, 50%);
}

@media only screen and (max-width: 600px) {

    }
    form {
        flex-direction: column;
        

    }

