body {
    background-color: rgb(236, 167, 142);
}
h1 {
    font-size: 2em;
    text-align: center;
    text-shadow: .5px .5px 1px white;
}




@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

}